@charset "UTF-8";

:root{
    --verde-01: #7E8C54;
    --verde-02: #6C8E68;
    --verde-03: #19535F;
    --marrom: #1A090D;
    --branco: #FEF9FF;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("../imagens/floresta-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--branco);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

header{
    text-align: center;
    padding: 20px 10px;
}

header h1{
    color: var(--branco);
    font-size: 2.5em;
}

header p{
    font-size: 1em;
    color: var(--branco);
    margin-top: 8px;
}

main{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;
}

section{
    width: 100%;
    max-width: 360px;

    background-color: transparent;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid var(--branco);
    padding: 32px 24px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.611);
}

section h2{
    text-align: center;
    margin-bottom: 24px;
    color: var(--branco);
}

form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    font-size: 0.85rem;
}

.input-wrapper{
    position: relative;
}

.input-wrapper i{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--verde-03);
    font-size: 0.9rem;
}

.input-wrapper input{
    padding-left: 2.2rem;
}

input{
    padding: 0.7rem;
    border-radius: 6px;
    border: 3px solid var(--verde-03);
    font-size: 0.9rem;
    width: 100%;
}

input:focus{
    outline: 2px solid var(--verde-03);
    outline-offset: 2px;
}

.lembrarsenha{
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    margin: -15px 0px 15px;
}

.lembrarsenha label{
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
}

.lembrarsenha label input{
    accent-color: var(--branco);
    margin-right: 3px;
}

.lembrarsenha a{
    color: var(--branco);
    text-decoration: none;
}

.lembrarsenha a:hover{
    text-decoration: underline;
}

button{
    margin-top: 0.5rem;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;

    background-color: var(--verde-03);
    color: var(--branco);
    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;
}

a button{
    width: 100%;
}

button a{
    color: var(--branco);
    text-decoration: none;
}

button a:hover{
    color: var(--verde-03);
}

button:hover{
    background-color: var(--branco);
    color: var(--verde-03);
}

.registrar{
    font-size: 0.9rem;
    text-align: center;
    margin: 20px 0px 15px;
}

.registrar p a{
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
}

.registrar a:hover{
    text-decoration: underline;
}

footer{
    text-align: center;
    padding: 1rem;
    font-size: 0.75rem;
    color: var(--branco);
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

@media (min-width: 768px){
    header h1{
        font-size: 4rem;
    }

    header p{
        font-size: 1.1rem;
    }
    section{
        padding: 2.5rem 2rem;
    }
}